<div class="container">
  <mat-horizontal-stepper #stepper>
    <!-- Step 1 -->
    <mat-step [stepControl]="Form1" label="Create LOB">
      <form [formGroup]="Form1">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>LOB Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="Form1.get('name')?.hasError('required')">
          LOB Name is required
        </mat-error>
        <mat-error *ngIf="Form1.get('name')?.hasError('minlength')">
          LOB Name must be at least 2 characters
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="Form1.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="Form1.get('email')?.hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      </form>
      <button mat-raised-button color="primary" (click)="nxtbtnfirst(); stepper.next()" [disabled]="Form1.invalid">Next</button>
    </mat-step>

    <mat-step [stepControl]="Form2" label="Select Services">
      <form [formGroup]="Form2">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Service Categories</mat-label>
        <mat-select formControlName="services" multiple>
          <mat-option *ngFor="let s of serviceOptions" [value]="s">{{s}}</mat-option>
        </mat-select>
        <mat-error *ngIf="Form2.get('services')?.hasError('required')">
          Please select at least one service
        </mat-error>
      </mat-form-field>

      </form>
      <button mat-button (click)="stepper.previous()">Previous</button>
      <button mat-raised-button color="primary" (click)="nextStep2(); stepper.next()" [disabled]="Form2.invalid">Next</button>
    </mat-step>

    <mat-step label="Provider Selection">
      <mat-tab-group>
        <mat-tab *ngFor="let svc of serviceTabs" [label]="svc">
            <div *ngFor="let group of getProviderControls(svc); let i=index" [formGroup]="group" class="row">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Provider</mat-label>
                <mat-select formControlName="provider">
                  <mat-option *ngFor="let p of providerOptions" [value]="p">{{p}}</mat-option>
                </mat-select>
                <mat-error *ngIf="group.get('provider')?.hasError('required') && group.get('provider')?.touched">
                  Provider is required
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Weight %</mat-label>
                <input matInput type="number" step="1" min="0" max="100" formControlName="weight">
                <mat-error *ngIf="group.get('weight')?.hasError('required') && group.get('weight')?.touched">
                  Weight is required
                </mat-error>
                <mat-error *ngIf="group.get('weight')?.hasError('min') && group.get('weight')?.touched">
                  Minimum allowed is 0
                </mat-error>
                <mat-error *ngIf="group.get('weight')?.hasError('max') && group.get('weight')?.touched">
                  Maximum allowed is 100
                </mat-error>
              </mat-form-field>

              <button mat-icon-button color="warn" (click)="removeProvider(svc, i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <button mat-stroked-button color="primary" (click)="addProvider(svc)">
              <mat-icon>add</mat-icon> Add Provider
            </button>
        </mat-tab>
      </mat-tab-group>

      <button mat-button (click)="stepper.previous()">Previous</button>
      <button mat-raised-button color="primary" (click)="createLOB()">Create</button>
    </mat-step>
  </mat-horizontal-stepper>
</div>
